<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="requireApiKey" value="false"/>
    <add key="apiKey" value="574a57df-baac-4eef-a306-da16e7f79942"/>
    <add key="packagesPath" value=""/>
    <add key="allowOverrideExistingPackageOnPush" value="false"/>
    <add key="ignoreSymbolsPackages" value="true"/>
    <add key="enableDelisting" value="false"/>
    <add key="enableFrameworkFiltering" value="false"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="31457280"/>
    <compilation debug="true" targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".nupkg" mimeType="application/zip"/>
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,PUT,DEBUG" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="31457280"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>